body {
  background-color: #f7f6f9;
}

.grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 300px auto;
  grid-template-rows: 1fr;
  // margin: 3rem;
  // border-radius: 3rem;
}

#grid-1 {
  background-color: #fff;
  padding: 40px;
  // border-radius: 3rem;
}

.spin-animation {
  animation: spin 4s linear infinite;

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
