body {
  background-color: #f7f6f9;
}

.grid {
  // display: grid;
  // width: 100%;
  // height: 100vh;
  // grid-template-columns: 300px auto;
  // grid-template-rows: 1fr;

  display: flex;
  width: 100%;
  height: 100vh;
}

#grid-1 {
  background-color: #fff;
  flex: 0 0 300px;
  border-radius: 0 2rem 2rem 0;
}

#grid-2 {
  flex: 0 1 100%;
  width: calc(100vw - 300px);
}

.spin-animation {
  animation: spin 4s linear infinite;

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.wrapper {
  margin: 3.2rem;
  // width: 100%;
  // max-width: 100%;
}

.main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .btn {
    font-weight: 700;
    background: transparent;
    font-size: 2rem;
    position: relative;

    &.active {
      &::after {
        content: '';
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
      }
    }
  }

  .weather-timespan {
    &-btn {
      margin-right: 1.5rem;
    }
  }

  .weather-metrics {
    &-btn {
      margin-left: 1.5rem;
    }
  }
}

.weather-expanded-info {
  margin-top: 3.2rem;
  max-width: 100%;
}
