.search-bar {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.4em;
  border-radius: 1.6em;
  background: #fcfcfc;
  position: relative;
  height: 4em;
  max-width: 100%;

  &.search-bar-suggestions {
    border-radius: 1.6em 1.6em 0 0;
  }

  .btn-icon {
    border-radius: 999em;
    background-color: #f0f0f0;
    width: 3em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-icon {
      height: 100%;
    }
  }

  .search-input {
    width: 100%;
    background: transparent;
    font-weight: 400;
    font-size: 1.1em;

    // google auto-fill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #fcfcfc inset !important;
    }
  }

  .number-of-results {
    position: absolute;
    top: -1.4em;
    left: 1.6em;
    color: rgb(148, 148, 148);
  }

  .search-suggestions {
    position: absolute;
    top: calc(100%);
    font-size: 0.95em;
    left: 0;
    display: block;
    background-color: #fcfcfc;
    border-radius: 0 0 1.6em 1.6em;
    width: 100%;
    border-top: 2px solid #f0f0f0;
    z-index: 999;

    .search-suggestions-container {
      margin: 0 1.6rem;
      max-height: 14rem;
      overflow-y: scroll;

      @media screen and (max-width: 750px) {
        max-height: 20rem;
      }

      &::-webkit-scrollbar {
        width: 2px;
        overflow: hidden;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 0px;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          background: #b3afb3;
        }
      }
    }

    button {
      background: transparent;
      width: 100%;
    }

    .search-suggestion {
      font-size: 1em;
      display: flex;
      align-items: center;
      position: relative;
      padding: 0.8em 0;
      color: #000;
      z-index: 99;

      span {
        font-weight: 600;
      }

      img {
        margin-right: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 750px) {
    font-size: 1.6rem;
    border-radius: 2em;
  }

  @media screen and (max-width: 300px) {
    margin-top: 2rem;
  }
}
