@import './Home.scss';

.semi-circle-chart {
  font-size: 2rem;
  width: 80%;
  height: auto;
  // make the height proportional to width (now 2/1)
  padding-bottom: 40%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1250px) {
    width: 100%;
    padding-bottom: 50%;
  }

  @media screen and (min-width: 1750px) {
    width: 25rem;
    padding-bottom: 0;
    height: 12.5rem;
  }

  &-total-degrees {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    border: 2rem solid $gray-200;
    border-bottom: none;
    border-top-left-radius: 100em;
    border-top-right-radius: 100em;
  }

  &-degrees {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1em solid $accent;
    border-top: none;
    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
    transform-origin: 50% 0;
    transform-style: preserve-3d;

    // hides strange line
    backface-visibility: hidden;
  }

  &-text {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 2.6rem;
    font-weight: 500;
  }

  &-item {
    position: absolute;
    z-index: 3;
    transform-origin: 50% 0;
    bottom: 0;
    color: $gray-300;
    font-size: 1.4rem;

    &:first-of-type {
      left: 2em;
      text-align: left;
    }

    &:last-of-type {
      right: 2em;
      text-align: right;
    }
  }
}
